:root {
    --text-margin: 10vh;
    --body-margin: 1.25vw;
    --program-margin: .5vw;

    --header-height: 88px;
    --footer-height: 35px;
    --border-rad: 4px;

    --small-text: var(--main-small-text);
    --small-line-height: var(--main-small-line-height);
    --medium-text: var(--main-medium-text);
    --medium-line-height: var(--main-medium-line-height);
    --large-text: var(--main-large-text);
    --large-line-height: var(--main-large-line-height);

    --main-small-text: calc(14px + 0.1vw);
    --main-small-line-height: 1;
    --main-medium-text: calc(20px + 0.34vw);
    --main-medium-line-height: 1.1;
    --main-large-text: calc(24px + 2vw);
    --main-large-line-height: 1;

    --main-title-font: 'Hershey', sans-serif;
    --main-header-font: 'Hershey', sans-serif;
    --main-body-font: 'Hershey', sans-serif;
    --main-special-font: 'Screenfont', monospace;

    --alpha-title-font: 'Geneva 9', sans-serif;
    --alpha-header-font: 'Arastin Pro', sans-serif;
    --alpha-body-font: 'DIN Alternate', sans-serif;
    --alpha-special-font: 'Ductus', sans-serif;
}

@font-face {
  font-family: 'Hershey';
  src: url('fonts/JMH Cthulhumbus Arcade.otf') format('opentype');
  font-weight: bold;
}
@font-face {
  font-family: 'Hershey';
  src: url('fonts/PixelOperator8.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Geneva 9';
  src: url('fonts/JMH Cthulhumbus Arcade.otf') format('opentype');
}
@font-face {
  font-family: 'Arastin Pro';
  src: url('fonts/PixelOperator8.ttf') format('truetype');
}
@font-face {
  font-family: 'DIN Alternate';
  src: url('fonts/PixelOperator8.ttf') format('truetype');
}
@font-face {
  font-family: 'Ductus';
  src: url('fonts/JMH Cthulhumbus Arcade.otf') format('opentype');
}
@font-face {
  font-family: 'Screenfont';
  src: url('fonts/PixelOperatorMono-Bold.ttf') format('truetype');
}

.alpha.featured .title,
.alpha #session-name, #tag.alpha {
  font-family: var(--alpha-title-font) !important;
  letter-spacing: 0.1rem;
  -webkit-text-stroke: 2px;
}

#tag.alpha {
  color: var(--alpha-text);
}

.alpha.session .title.class {
  font-size: calc(var(--large-text) * .7) !important;
}

.alpha .index-teachers {
  letter-spacing: .05rem;
  font-size: 1.7rem;
}

.alpha #home {
  gap: 0px;
  position: relative;
}

.currently .alpha, .alpha .home-intro {
  position: relative;
}

.alpha p.large {
  font-size: calc(20px + 1.5vw) !important;
}

#session-name a {
  text-decoration: none !important;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.fisheye {
  perspective: 600px;
  perspective-origin: 50% 40%;
}

.fisheye .shell,
.fisheye #shell {
  transform: rotateX(2deg) scale(0.97);
  transform-style: preserve-3d;
  filter: url(#fisheye);
}

.fisheye #header {
  transform: rotateX(-1deg) scale(1.02);
  transform-style: preserve-3d;
  filter: url(#fisheye2);
}

.fisheye #footer {
  transform: rotateX(-1deg) scale(1.02);
  transform-style: preserve-3d;
  filter: url(#fisheye2);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: var(--background);
  margin: 0;
  font: var(--main-title-font);
  color: inherit;
}

h1, h2, h3, h4, h5, p, ul, li {
  margin: 0;
}

h1 {
  -ms-transform: rotate(0deg) !important;
  -webkit-transform: rotate(0deg) !important;
  transform: rotate(0deg) !important;
}

h1, p.large, .mobile-menu, a.large, h8 {
  font-size: var(--large-text) !important;
  font-weight: lighter;
  font-family: var(--main-title-font);
}

.session .title, .project .title {
  font-size: var(--large-text) !important;
  word-break: break-word;
}

.featured:hover .title, .title:hover,
.featured:hover h6,
.entity:hover h3 {
  color: var(--text-link);
}

.project h4.type {
  text-transform: lowercase;
}

.project h2, .project h6 {
  font-size: var(--medium-text);
}

h2, .mobile-menu-content h2 a {
  font-size: var(--medium-text);
  font-family: var(--main-title-font);
}

h3, section .grid-2 p, .block-text, section .grid-2 ul {
  font-size: var(--medium-text);
  font-weight: lighter;
  line-height: var(--medium-line-height);
  letter-spacing: -.5px;
}

h3, section .grid-2 p, .block-text {
  margin-bottom: calc(var(--text-margin)/3);
}

.labels-info h3 {
  margin-bottom: 0px !important;
  margin-top: calc(var(--body-margin)/3);
}

section .grid-2 ul ul {
  padding-inline-start: calc(var(--body-margin)*6 * -1);
}

section .grid-2 ul li {
  margin-bottom: var(--body-margin);
}

.grid-2 p, section .grid-2 ul {
  padding-right: calc(var(--text-margin)/2);
  list-style: none;
}

.block-text .test-icon, p .test-icon {
  color: var(--text-color);
}
.block-text .test-icon::before, p .test-icon::before, .sfpc-link .test-icon::before {
  content: "\25E6\FE0E";
}
.block-text:nth-of-type(3n) .test-icon::before, p .test-icon:nth-of-type(3n)::before, .sfpc-link:nth-of-type(3n) .test-icon::before {
  content: "*\FE0E";
}
.block-text:nth-of-type(2n) .test-icon::before, p .test-icon:nth-of-type(2n)::before, .sfpc-link:nth-of-type(2n) .test-icon::before {
  content: "\25AB\FE0E";
}
.block-text:nth-of-type(4n) .test-icon::before, p .test-icon:nth-of-type(4n)::before, .sfpc-link:nth-of-type(4n) .test-icon::before {
  content: "\25CC\FE0E";
}
.block-text:nth-of-type(5n) .test-icon::before, p .test-icon:nth-of-type(5n)::before, .sfpc-link:nth-of-type(5n) .test-icon::before {
  content: "\2023\FE0E";
}

section .grid-2 ul li::before {
  content: "\25E6\FE0E";
  font-weight: bold;
  line-height: var(--medium-text);
  display: inline-block;
  width: 1.5em;
  margin-left: -1.5em;
  font-family: var(--main-special-font);
}

section .grid-2 ul li:nth-of-type(3n):before,
section .grid-2 ul:nth-of-type(3n) li:before {
  content: "*\FE0E";
  font-family: var(--main-special-font);
}

section .grid-2 ul li:nth-of-type(2n):before,
section .grid-2 ul:nth-of-type(2n) li:before {
  content: "\25AB\FE0E";
  font-family: var(--main-special-font);
}

section .grid-2 ul li:nth-of-type(4n):before,
section .grid-2 ul:nth-of-type(4n) li:before {
  content: "\25CC\FE0E";
  font-family: var(--main-special-font);
}

section .grid-2 ul li:nth-of-type(5n):before,
section .grid-2 ul:nth-of-type(5n) li:before {
  content: "\2023\FE0E";
  font-family: var(--main-special-font);
}

.no-margin-bottom {
  margin-bottom: 0px !important;
}

.top h3 {
  margin: 0px !important;
}

section .grid-2 p a, .details a, li a, ul a {
  font-weight: bold;
}

section .grid-2 p a:after {
  border-width: 0 0 0px !important;
}

section .grid-2 p a:hover {
  text-decoration: none;
}

section .grid-2 p.large a, a.large {
  font-weight: lighter;
}

.nav.logo img {
  width: 6px;
  height: auto;
  display: flex;
  align-items: center;
  padding: 4px;
}

h4, .roles, caption, figure, p.small, .small {
  font-size: var(--small-text);
  font-weight: bold;
  font-family: var(--main-title-font);
  letter-spacing: 0px;
}

h3 span.small.block {
  font-size: var(--small-text);
  font-weight: bold;
  font-family: var(--main-title-font);
  letter-spacing: 0px;
  display: block;
  background: none !important;
  padding: 3px 0px;
}

.roles {
  display: block;
  margin-top: calc(var(--body-margin)/20);
  margin-bottom: calc(var(--body-margin)/20);
}

h5 {
  font-size: var(--small-text);
  font-weight: normal;
  font-family: var(--main-title-font);
}

h6 {
  font-family: var(--main-special-font) !important;
  font-size: var(--medium-text);
  line-height: var(--medium-line-height);
  margin-bottom: 0;
  margin-top: 0;
  font-weight: lighter;
}

section .grid-2 h6 {
  margin-bottom: calc(var(--text-margin)/3);
  padding-top: calc(var(--text-margin)/3);
}

section .grid-2 h6:first-of-type {
  padding-top: 0px !important;
}

.test-icon {
  font-family: var(--main-special-font) !important;
  font-size: var(--medium-text);
}

p.large .test-icon {
  font-size: var(--large-text);
}

img {
  display: block;
  max-width: 100%;
}

.link-show-grid {
  cursor: pointer;
  display: inline-block;
  line-height: var(--large-text);
}

.website-grid {
  position: fixed;
  background: var(--background);
  padding: calc(var(--body-margin)/2) calc(var(--body-margin)/2) var(--footer-height) calc(var(--body-margin)/2);
  z-index: 999999999999999999999999999999 !important;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: .95;
  display: block;
  pointer-events: none;
  gap: var(--body-margin);
}

.grid-hide {
  opacity: 0;
  visibility: hidden;
}

.grid-show {
  opacity: 1;
  visibility: visible;
}

.grid-inner {
  padding: 0 var(--body-margin) 0 var(--body-margin);
  border-width: 2px;
  border-radius: var(--border-rad);
  height: calc(100vh - calc(var(--body-margin)/2) - var(--footer-height));
  box-sizing: border-box;
}

.grid-inner section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  column-gap: var(--body-margin);
}

.website-grid .grid-2 {
  position: relative;
  border: 2px dotted var(--text-color);
  border-width: 2px;
  height: calc(100vh - calc(var(--body-margin)/2) - var(--footer-height) - 4px);
  line-height: calc(100vh - calc(var(--body-margin)*2));
  display: block;
  border-radius: var(--border-rad);
  text-align: center;
  box-sizing: border-box;
  width: 25%;
  overflow: hidden;
}

.website-grid .grid-2 p.large {
  position: absolute;
  left: 0px;
  bottom: 0px;
  text-align: center;
  width: 100%;
  padding-right: 0px !important;
  vertical-align: bottom;
}

.chars {
  position: relative;
  left: 0px;
  top: 0px;
  line-height: 1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: none;
  font-family: var(--main-special-font);
  text-align: justify;
}

.shell {
  background: var(--background);
  color: var(--text-color);
  border: 1px dotted #000;
  padding: var(--body-margin) var(--body-margin) 0 var(--body-margin);
  position: relative;
  z-index: 11;
  width: calc(100vw - var(--body-margin));
  margin: 0;
  overflow: scroll;
  border-radius: var(--border-rad);
  position: fixed;
  left: calc(var(--body-margin)/2);
  bottom: var(--footer-height);
}

.shell-fullsize {
  height: calc(100% - var(--footer-height) - var(--header-height));
  top: var(--header-height);
  bottom: auto;
}

.shell-fullsize iframe.newsletter-signup {
  border: 0;
  width: 100vw;
  height: calc(100%);
  position: absolute;
  left: 0px;
  top: 0px;
}

.loader-content {
  padding-top: 4vh;
  display: block;
  z-index: 99999999999999999999999999999999;
  width: 100%;
  height: 100%;
  word-break: break-word;
}

.loader-content p {
  display: block;
  word-break: break-word;
}

.loader-content p span {
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 8s steps(60, end);
  word-break: break-all;
  line-height: var(--large-line-height);
  white-space: pre;
}

@keyframes type {
  from { width: 0; }
}

@keyframes cursor-blink {
  0% { opacity: 0; }
}

.loader-content p::after {
  content: "";
  width: 10px;
  height: calc(var(--large-text)*.5);
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
  margin-left: -10px;
}

.crt-overlay {
  padding: var(--body-margin) var(--body-margin) 0 var(--body-margin);
  pointer-events: none;
  z-index: 99999999999999999999999999999999;
  width: calc(100vw - var(--body-margin));
  margin: 0;
  border-radius: var(--border-rad);
  position: fixed;
  left: calc(var(--body-margin)/2);
}

.expand-intro {
  cursor: pointer;
}

.hide {
  display: inline-block;
  height: 0px !important;
  width: 0px !important;
  visibility: hidden;
  opacity: 0;
}

.hide-content {
  display: none;
}

.show {
  display: block;
  height: auto;
  visibility: visible;
  opacity: 1;
}

a {
  transition: all .2s ease-in-out;
}

#header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: calc(var(--body-margin)/2) var(--body-margin);
  z-index: 10000;
  background: #000;
  color: #fff;
  font-family: var(--main-title-font);
  font-weight: normal;
  font-size: var(--small-text);
  line-height: 1.25;
}

#header .grid-2 {
  width: 50%;
  display: flex;
  gap: var(--body-margin);
  padding-left: calc(var(--body-margin)/2);
  box-sizing: border-box;
}

#header .grid-2 .grid-2 {
  padding-left: 0px !important;
}

#header .grid-4 {
  width: 25%;
}

#header .grid-4 .nav a {
  color: #fff;
  text-decoration: none;
  line-height: 1.4;
}

#header .grid-4 .nav a:hover {
  text-decoration: underline;
}

#header ul {
  list-style: none;
  padding-inline-start: 0px !important;
}

#header .logo img {
  max-height: calc(var(--header-height) - calc(var(--body-margin)));
  height: var(--header-height);
  width: auto;
  float: right;
}

.def-div {
  cursor: pointer;
}

.def-div:hover {
  opacity: .6;
}

.logo, .mobile-menu {
  transition: all .2s ease-in-out;
}

.mobile-menu.hide-menu {
  pointer-events: none;
}

.logo:hover, .mobile-menu:hover {
  opacity: .6;
}

#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: block;
  padding: 0 var(--body-margin);
  z-index: 10000;
  background: #000 !important;
  color: #fff;
  height: var(--footer-height);
}

#footer .mode {
  float: left;
  color: #fff;
  font-family: var(--main-title-font);
  font-weight: normal;
  font-size: var(--small-text);
  line-height: var(--footer-height);
  vertical-align: center;
}

#footer .mode a {
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

#footer .wobble {
  float: right;
  color: #fff;
  font-family: var(--main-title-font);
  font-weight: normal;
  font-size: var(--small-text);
  line-height: var(--footer-height);
  vertical-align: center;
  display: block;
}

#footer button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}

section {
  display: flex;
  column-gap: calc(var(--body-margin));
  scroll-margin: var(--text-margin);
}

.break {
  border-bottom-width: 1px dotted;
  border-bottom: 1px dotted var(--text-color);
  margin-bottom: var(--text-margin);
  padding-bottom: var(--text-margin);
}

.break-endpage {
  margin-bottom: calc(var(--text-margin)*3);
}

.break-noline {
  margin-bottom: var(--text-margin);
}

.break-noline-small {
  margin-bottom: calc(var(--text-margin)/3);
}

section .left, section .grid-2 {
  width: 50%;
}

section.closed {
  display: flex;
  margin-bottom: 0px !important;
  padding-bottom: var(--text-margin);
  border-bottom: 0px !important;
}



#home {
  position: relative;
  z-index: 100;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-between;
  gap: var(--text-margin);
}

.home {
  font-family: var(--main-title-font);
  color: var(--text-color);
}

.grid-1, .grid-1-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: var(--body-margin);
  row-gap: var(--body-margin);
}

.currently {
  min-height: 20vh;
}

.rows-2 {
  display: flex;
  gap: var(--body-margin);
  flex-direction: column;
  flex-wrap: nowrap;
}

.grid-1 .grid-4, .grid-1-img .grid-4 {
  display: flex;
  width: calc(25% - var(--body-margin));
  min-width: 280px;
  flex: 1 1 calc(25% - var(--body-margin));
}

#section-projects .grid-1 .grid-4 {
  width: calc(33.33% - var(--body-margin));
  flex: 1 1 calc(33.33% - var(--body-margin));
  min-width: 300px;
}

#section-projects .grid-4.featured img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: 50% 80%;
}

.grid-1-img img {
  box-sizing: border-box;
  border-radius: var(--border-rad);
}

.grid-1 .grid-2 {
  display: flex;
  width: calc(50% + var(--body-margin));
}

.grid-8 {
  display: flex;
  width: 12.5%;
  max-width: 100%;
  overflow: hidden;
}

.stacked-8 .grid-8 {
  display: flex;
  width: 100%;
}

.featured, .featured-div {
  box-sizing: border-box;
  border-radius: var(--border-rad);
  font-family: var(--main-title-font);
  min-height: 20vh;
  padding: var(--program-margin);
  cursor: pointer;
  border-width: 2px;
  border-style: dotted;
}

.featured h2.title, .featured-div h2.title {
  font-weight: lighter;
}

.featured img {
  border-radius: var(--border-rad);
}

.intro-featured {
  width: 100%;
  padding-bottom: var(--body-margin);
}

.featured:hover, .featured-div:hover {
  background-size: 150%;
  box-shadow: 0px 0px 15px var(--box-shadow);
}

.featured a, .featured-div a {
  text-decoration: none;
  color: inherit;
}

.featured p a {
  text-decoration: underline;
}

.featured a:hover, .featured-div a:hover {
  opacity: .8;
}

.grid-2.featured h4.type, .grid-1.featured h4.type {
  font-size: var(--small-text);
  font-weight: bold;
}

.type {
  margin-bottom: var(--program-margin);
}

.grid-2.featured h2, .grid-1.featured h2 {
  font-size: var(--large-text);
  font-weight: lighter !important;
}

.grid-2.featured h4, .grid-1.featured h4 {
  font-size: var(--medium-text);
  font-weight: lighter;
}

.grid-2 .featured-text, .grid-1 .featured-text {
  flex-direction: column;
  justify-content: space-between;
}

.featured-text {
  width: 100%;
  display: flex;
}

.grid-4 .featured-text, .grid-1 .featured-text {
  flex-direction: column;
  justify-content: space-between;
}

.participate .featured-text img {
  margin-bottom: var(--program-margin);
}

.participate .featured-text .bottom {
  margin-top: var(--body-margin);
  line-height: 1.2;
}

.featured-text .bottom {
  line-height: 1.2;
}

.grid-4.featured .dot {
  display: block;
  visibility: hidden;
  line-height: 0;
}

.underline, a.underline {
  text-decoration: underline !important;
}

.nav li a.underline:hover, .nav li a:hover {
  opacity: .6;
}

section ul {
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  list-style-type: circle;
}

p a, .details a, li a, ul a {
  text-decoration: underline;
  position: relative;
}

a.citation {
  text-decoration-style: dotted !important;
  cursor: pointer;
  display: inline;
}

.sup {
  vertical-align: super;
  font-size: var(--medium-text);
  font-family: var(--main-special-font);
  color: var(--text-link);
}

.grid-2 .citation sup, .grid-2 sup {
  font-size: var(--small-text) !important;
  color: var(--text-link) !important;
  font-weight: bold;
}

span.reference {
  display: block;
  margin-bottom: var(--body-margin);
  scroll-margin: var(--body-margin);
}

.intro a, p.large a, a.large {
  text-underline-offset: 4px;
  text-decoration-thickness: 3px;
}

p a:hover, .details a:hover {
  text-decoration: none;
}

i.special {
  text-transform: lowercase;
  font-style: normal;
}

.type-list-comma {
  text-transform: lowercase;
}

.intro .bio {
  display: inline-block;
  vertical-align: bottom;
  width: var(--large-text);
  height: var(--large-text);
  background-size: cover;
  border-radius: 100%;
}

.mobile-menu, .mobile-menu-content {
  display: none;
}

.mobile-menu-content {
  opacity: 0;
  display: flex;
  height: 0px;
  overflow: hidden;
}

.class-details {
  display: flex;
  flex-direction: column;
  font-size: var(--medium-text);
  line-height: calc(var(--medium-line-height)*1.5);
}

.market-details.class-details .details {
  align-content: center;
  align-items: center;
}

.product-images {
  margin-bottom: calc(var(--text-margin)/4);
}

.class-details .details {
  display: flex;
  gap: var(--body-margin);
}

.class-details .details .labels {
  width: calc(25% - var(--body-margin)/2);
  font-family: var(--main-special-font);
  text-transform: lowercase;
  overflow-wrap: break-word;
}

.class-details .details .labels-info {
  width: calc(75% - var(--body-margin)/2);
}

.class-details img {
  border-radius: var(--border-rad);
  margin-bottom: calc(var(--text-margin)/2);
}

.class-details .apply {
  border-radius: var(--border-rad);
  margin-top: calc(var(--body-margin)*2);
}

span#cost, h3 span, p span#cost {
  background: var(--text-link);
  border-radius: var(--border-rad);
  padding: 1px 5px;
  color: var(--background);
  font-family: var(--main-special-font);
  font-weight: normal;
  line-height: 1.4;
}

span#tag {
  border-radius: var(--border-rad);
  padding: 3px 5px 1px 5px;
  font-weight: normal;
  border: 1px solid;
}

#tag a, a#tag, a span#tag, .class-list-session h4 a {
  text-decoration: none !important;
}

#tag:hover {
  background-size: 150%;
  box-shadow: 0px 0px 15px var(--box-shadow);
}

.labels-info span.expand {
  line-height: calc(var(--medium-line-height)*1.5) !important;
}

span.expand {
  display: inline;
  cursor: pointer;
  line-height: var(--large-line-height);
}

span.expand.active {
  display: inline;
  color: var(--text-link) !important;
  line-height: var(--large-line-height);
}

span.expand.active a.link {
  display: none;
  line-height: var(--large-line-height);
}

.expanded {
  text-decoration: none !important;
  line-height: var(--large-line-height);
}

.labels-info .expanded {
  color: var(--text-color);
  line-height: calc(var(--medium-line-height)*1.5) !important;
}

span.expand.active {
  text-decoration: none !important;
  line-height: var(--large-line-height);
}

.hide-expanded {
  display: none;
  line-height: var(--large-line-height);
}

audio {
  width: 100%;
  max-width: 100%;
  margin: 2vw 0;
}

video {
  width: 100%;
  max-width: 100%;
  margin: 2vw 0;
  border-radius: var(--border-rad);
}

.hide-desk {
  display: none;
}

.hide-mobile {
  display: block;
}

.loader-content {
  position: fixed;
  inset: 0;
  background: black;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pose-loader {
  width: 100vw;
  height: 100vh;
  display: block;
}

@media (max-width: 768px) {
  .hide-desk {
    display: block;
  }

  .hide-mobile {
    display: none;
  }

  :root {
    --text-margin: 10vh;
    --body-margin: 1.25vw;
    --program-margin: 1.5vw;
  }

  .grid-1 .grid-2, .grid-1 .grid-4 {
    width: 100% !important;
    flex: none !important;
    margin-bottom: calc(var(--body-margin)*2);
  }

  .grid-1-img .grid-4 {
    width: calc(50% - var(--body-margin)) !important;
    display: inline-block;
    margin-bottom: var(--body-margin);
  }

  .grid-2 p, .grid-2 ul {
    padding-right: 0;
  }

  section ul, section ol {
    padding-inline-start: calc(var(--body-margin)*6);
  }

  section ul ul, section ol ol {
    padding-inline-start: calc(var(--body-margin)*6 * -1);
  }

  section .grid-2 ul, section .grid-2 ul ul,
  section .grid-2 ol, section .grid-2 ol ol {
    padding-right: 0px;
  }

  section {
    display: block;
  }

  section .grid-2 h1 {
    margin-bottom: calc(var(--text-margin)/2);
  }

  section .grid-2 {
    width: 100%;
  }

  .grid-1 {
    display: block;
  }

  ul.nav {
    display: none;
  }

  #header {
    display: block !important;
  }

  #header .grid-4 {
    width: 100%;
    float: left;
    display: block !important;
  }

  #header .grid-2 {
    width: 50%;
    float: left;
    display: inline-block !important;
  }

  #header .grid-2 .grid-2 {
    width: 50%;
    float: left;
    display: inline-block !important;
  }

  #header .logo {
    text-align: right;
  }

  #header .logo img {
    height: 40px;
    width: auto;
    display: inline-block;
  }

  .mobile-menu {
    display: inline-block;
    cursor: pointer;
    font-size: 24px;
    padding: 8px 12px;
    line-height: 1;
    vertical-align: middle;
  }

  .mobile-menu-content-show {
    opacity: 1;
    display: flex;
    height: auto;
    position: fixed;
    inset: 0;
    z-index: 999999999999;
    background: var(--background);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
  }

  .menu-close {
    position: absolute;
    top: var(--body-margin);
    right: var(--body-margin);
    font-size: 28px;
    cursor: pointer;
    z-index: 1;
    line-height: 1;
  }

  .menu-poetry {
    font-size: var(--small-text);
    line-height: 1.6;
    padding: 2vh 5vw 4vh;
    text-align: center;
    opacity: 0.8;
    max-width: 80%;
  }

  .mobile-menu-content h2 {
    font-weight: lighter;
    width: 100%;
    margin: 0;
  }

  .mobile-menu-content a {
    display: block;
    color: var(--text-color);
    text-decoration: none;
    padding: 16px 0;
    font-size: var(--medium-text);
    line-height: 1.5;
    width: 100%;
    text-align: center;
  }

  .mobile-menu-content a:hover {
    opacity: .6;
  }

  .shell {
    width: calc(100vw - calc(var(--body-margin)));
  }

  .shell-fullsize {
    height: calc(100% - var(--footer-height) - var(--header-height));
    top: var(--header-height);
  }

  .shell-halfsize {
    height: calc(80% - var(--footer-height) - var(--header-height));
    top: calc(var(--header-height) + 20%);
  }

  .shell-fullsize .newsletter-signup {
    border: 0;
    width: 100vw;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  section.stacked-4 .grid-1 {
    grid-template-columns: repeat(2,1.2fr);
    grid-column-gap: var(--body-margin);
    grid-row-gap: var(--body-margin);
  }

  section.stacked-4 .grid-1 .grid-4 {
    width: 100% !important;
  }

  .grid-4.featured .bottom > h4 > span {
    display: block !important;
    visibility: hidden !important;
    line-height: 0;
  }

  .stacked .grid-1.featured {
    margin-bottom: calc(var(--body-margin)*2);
  }

  .defintion {
    visibility: hidden;
    display: none;
    height: 0px;
  }

  .project .title {
    font-size: var(--medium-text) !important;
  }

  .project h6 {
    font-size: var(--small-text) !important;
  }

  figure.item img {
    max-height: 30vh !important;
    height: 30vh !important;
  }

  .featured-text.half {
    width: 100% !important;
    display: flex;
    flex-direction: row !important;
    font-size: var(--medium-text);
    padding-right: 0;
    gap: calc(var(--body-margin)*8);
  }

  .featured-text.half div {
    width: calc(100%) !important;
  }

  .website-grid {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }

  .link-show-grid {
    pointer-events: none;
    text-decoration: none;
  }

  .intro a, p.large a, a.large {
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
  }
}
